
  .result
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    color:linen;
  }
 body {
   background:url("ok.jpeg");
   background-repeat: no-repeat;
   background-size:cover;
   color:black;
 }
 .head {
   width:100%;
   margin:0;
   font-family: 'Zen Tokyo Zoo', cursive;
   font-size:30px;
   color:black;
 }
 .footer {
   position:fixed;
   bottom:0;
   background:linear-gradient(limegreen 0%, green 100%);
   width:100%;
   text-align: center;
 }
 .cssclass {
  float:none;
  color:black;
  padding:10px;
  border: 5px solid limegreen;
  background-color: limegreen;
  border-radius: 35px;
 }
 canvas {
   border-color:mediumpurple;
   border-width: 5px;
   border-style: dashed;
   margin-top: 150px;
 }